<a href="https://colab.research.google.com/github/ydydydydydy/Colab/blob/main/ex00_%EB%94%A5%EB%9F%AC%EB%8B%9D_%EB%A7%9B%EB%B3%B4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 단축키 사용법
  - 실행단축키
    - ctrl + Enter : 실행 후에 커서가 그대로 위치
    - shift + Enter : 실행 후 커서 아래 셀로 이동
    - alt + Enter : 실행 후 아래 셀 생성하고 아래로 이동

  - 마크다운 변환(코드셀 -> 텍스트셀)
    - ctrl + m + m

  - 코드모드로 변환(텍스트 -> 코드)
    - ctrl + m + y
  
  - 셀 아래에 추가하기
    - ctrl + m + b
  
  - 셀 위에 추가하기
    - ctrl + m + a

### 딥러닝 맛보기
- 딥러닝이란?
  - 인간의 신경망을 모방하여 학습하고 예측하는 기술
  - 대량의 데이터에서 복잡한 패턴이나 규칙을 찾아내는 능력이 뛰어남
  - 머신러닝에 비해 조금 더 유연한 사고를 한다
  - 인간의 뉴런 == 딥러닝에서 선형모델
  - 주로 영상, 음성 이미지 처리에 사용된다

- tensorflow
  - 구글이 만든 딥러닝을 위한 라이브러리

- keras
  - tensorflow 위에서 동작하는 라이브러리로 사용자 친화적 라이브러리

In [ ]:
# tensorflow 버전 확인
import tensorflow as tf
print(tf.__version__)
# 2.13.0
# 설치버전 확인 이유: 프로젝트 진행시 오픈소스 가져다 쓸 때 충돌방지

2.13.0

In [ ]:
# 리눅스기반의 코랩 (리눅스명령어 그대로 사용가능)
# 리눅스 명령어를 사용하여 현재 작업 디렉토리 확인
!pwd # print work directory

/content

In [ ]:
# 현재 작업 디렉토리의 파일 목록 조회
!ls

sample_data

In [ ]:
# 작업 디렉토리 변경
# %cd (change directory)
%cd "/content/drive/MyDrive/Colab Notebooks/DeepLearning"

/content/drive/MyDrive/Colab Notebooks/DeepLearning

In [ ]:
# 다시 현재 폴더 경로 확인
!pwd

/content/drive/MyDrive/Colab Notebooks/DeepLearning

### 목표
- 공부시간에 따른 수학 성적을 예측하는 회귀모델을 만들어보자
- keras 활용해서 신경망 구성하는 방법을 연습해보자

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# 데이터 불러오기
data = pd.read_csv('./data/student-mat.csv', delimiter=';')
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [ ]:
# 데이터 정보확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

### 문제와 답으로 분리
- 입력특성: 1개(studytime)
- 정답: G3

In [ ]:
# 문제데이터 (X)
X = data['studytime']
# 정답데이터 (y)
y = data['G3']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# train,test 분리
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                    random_state=915,
                                                    test_size = 0.2)

In [ ]:
# 크기확인
X_train.shape, y_train.shape

((316,), (316,))

In [ ]:
X_test.shape, y_test.shape

((79,), (79,))

### 머신러닝 모델과 딥러닝 모델의 차이점
- 머신러닝
  - 완제품 장난감: 팔정도만 움직일 수 있음(하이퍼파라미터만 조절이 가능한 것)
  - 모델생성(완성된 객체 사용) -> 모델학습 -> 모델예측 -> 모델평가

- 딥러닝
  - 레고블럭: 다양한 구성이 가능
  - 모델생성(모델을 직접 구성) -> 모델학습 -> 모델예측 -> 모델평가

### 머신러닝 모델링(선형회귀모델)

In [ ]:
from sklearn.linear_model import LinearRegression  # 선형회귀
from sklearn.metrics import mean_squared_error  # 회귀모델의 평가지표 도구

In [ ]:
from sklearn import linear_model
# 1. 모델 생성
linear_model = LinearRegression()

# 2. 모델 학습 (학습용 문제, 학습용 정답)
linear_model.fit(X_train.values.reshape(-1,1), y_train)

# 3. 모델 예측 (테스트용 문제)
linear_pre = linear_model.predict(X_test.values.reshape(-1,1))

# 4. 모델 평가 (실제값, 예측값)
mean_squared_error(y_test, linear_pre)

24.058078771701606

In [ ]:
X_train.values.reshape(-1,1)

In [ ]:
# 머신러닝 모델은 입력특성을 2차원으로 받는다
# 1차원 -> 2차원 변경
X_train.values.reshape(-1,1)

In [ ]:
회귀 평가지표 mse, rmse, mae(절댓값)

In [ ]:
asdsdf

In [ ]:
sadfsd

In [ ]:
dfsda

In [ ]:
sdfafsda